#control-panel {
    position: fixed;
    right: 0;
    width: var(--control-panel-width);
    top: 0;
    bottom: 0;

    background-color: #efefef;

    font-size: 1.4rem;
}

#file-info {
    line-height: 1.5;
    padding: 2rem;
    background: white;
    white-space: pre;
    font-family: 'Roboto Mono', monospace;
}

.aw-phase {
    padding: 0 4rem;
    height: 0;
    overflow: scroll;
    transition: height 300ms ease-out;
}

.aw-phase--active {
    height: 100vh;
}

.aw-phase__heading {
    text-transform: uppercase;
}

.aw-label {
    display: inline-block;
    min-width: 10rem;
}

.aw-actions {
    margin: 3rem 0;
}

.aw-actions button {
    text-transform: uppercase;
}