.stage {
  position: fixed;
  top: 0;
  bottom: 230px;
  width: 100%;
}

.plotter {
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 230px;
}
