:root {
  --planning-stroke-width: 1;
}

.root {
  stroke-width: var(--planning-stroke-width);
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.motionPenUp {
  stroke: #e2e2e2;
}

.motionPenDown {
  stroke: #333;
}
