.root {
  position: absolute;
  top: 0;
  left: 0;
  touch-action: none;
  user-select: none;
}

.carriage {
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  transform: translate(0, -100%);
}

.pen {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border: 2px solid rgb(220 38 38 / 0.9);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition:
    background-color ease-out 0.3s,
    box-shadow ease-out 0.3s;
}

.penDown {
  background-color: rgb(220 38 38);
}

.free {
  .carriage,
  .pen {
    cursor: grab;
  }

  .pen {
    box-shadow: 0 0 0 5px rgb(34 197 94 / 0.4);
  }
}

.pushing {
  .carriage,
  .pen {
    cursor: grabbing;
  }
}
