h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-condensed font-bold uppercase leading-6 mt-4 mb-2;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4,
h5,
h6 {
  font-size: 1em;
}

h5,
h6 {
  @apply font-normal;
}

h6 {
  @apply italic;
}

p {
  @apply leading-5;
}
